
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <script>
        function kpDemoFunction(target) {
            //alert(target.value);

            var input = " " + target.value + " ";

            /***KP : SSN & EIN Validation  */
            var ssn0 = /\D+\d{9}\D+/;   //KP : SSN : 123-45-6789
            var ssn1 = /\D+\d{3}-\d{2}-\d{4}\D+/;   //KP : SSN : 123-45-6789
            var ssn2 = /\D+\d{3}.\d{2}.\d{4}\D+/;   //KP : SSN : 123.45.6789
            if (ssn1.test(input) || ssn2.test(input)) {
                alert("KP : Regex - SSN in Entered Text ! ");
            }
            else {
                alert("KP : Regex - NO SSN in Entered Text ! ");
            }


            var ein1 = /\D+\d{2}-\d{7}\D+/;   //KP : EIN : 12-3456789
            var ein2 = /\D+\d{2}.\d{7}\D+/;   //KP : EIN : 12.3456789
            if (ein1.test(input) || ein2.test(input)) {
                alert("KP : Regex - EIN in Entered Text ! ");
            }
            else {
                alert("KP : Regex - NO EIN in Entered Text ! ");
            }

            /***KP : SSN & EIN Validation  */
        }</script>
</head>
<body>
    <div>
        <!--KP : http://localhost/KPMVCWebAPIs/Home/Demo -->
        <!--KP : http://kpmvcwebapis.com/KPMVCWebAPIs/Home/Demo -->
        <h2>KP : Demo Page</h2>

    </div>
    <div>
        <h3>RegEx : Regular Expressions</h3>
        <input type="text" onblur="kpDemoFunction(this)" />
    </div>
</body>
</html>
