<!DOCTYPE html>
<html>
<head>
    <title ng-bind="helloAngular"></title>
</head>
<body>
    @{
        ViewBag.Title = "AngularServices";
    }

    <h2>AngularServices</h2>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>

    <div ng-app="myApp" id="idAngJSHttpService" ng-controller="myCtrl">
        <br />
        <h3>AngularJS HTTP Service '$http'</h3>
        <p>HTTP Service Response : </p>
        <h4>{{myWelcome}}</h4>
        <br />
        <h3>AngularJS Location Service '$location'</h3>
        <p>The URL of this Page is : </p>
        <h4>{{myUrl}}</h4>
        <br />

        <br />
        <h3>AngularJS URL Parameters from Location Service '$location'</h3>
        <p>The URL Query Parameters received from the Page is : </p>
        <h4>{{myUrl}}</h4>
        <p>The URL Query Parameters received from the Page are : </p>
        <h4>{{myQueryParams}}</h4>
        <h4>Query Parameter User Name : {{myQryPrmUsrName}}</h4>
        <h4>Query Parameter Token : {{myQryPrmToken}}</h4>
        <br />
        
        <br />
        <h3>AngularJS Parameters from Windows Geo-Location Service '$window'</h3>
        <p>The Lat-Log Information received from the Geo-Location Service is : </p>
        <h4>{{myLatLong}} {{myPosition}}</h4> 
        <p>The Lat-Log Information received from the Geo-Location Service is : </p>
        <h4>{{"Latitude : " + myLat + ", " + "Longitude : " + myLong}}</h4>
        <br />
        
        <h3>AngularJS Timeout Service '$timeout'</h3>
        <p>Timeout Service '$timeout' displays a message after 3 Seconds : </p>
        <h4>{{myHeader}}</h4>
        <br />
        <h3>AngularJS Interval Service '$interval'</h3>
        <p>Interval Service '$interval' displays time after 1 Second  interval : </p>
        <h4>{{myCurrentTime}}</h4>
        <br />
        <h3>AngularJS 'ng-click' : Page Reload (or) Refresh on HTML Button Click </h3>
        <button ng-click="myBtnClick_PageRefresh()">Page Refresh : Button 'ng-click'</button>
        <p>Click the above HTML Button to reload the Page!!!</p>
        <br />
        <h3>AngularJS My Custom Service  converts an Integer Value to Hexa-Decimal Value</h3>
        <p>Integer Value : <input id="txtIntVal" type="text" ng-model="integerVal" /></p>
        <h4>Hexagonal Converstion of {{integerVal}} : {{hex}} </h4>
        <br />
    </div>
    <script>
        var myApp = angular.module('myApp', []);
        ////myApp.config(['$locationProvider', function ($locationProvider) {
        ////    $locationProvider.html5Mode(true);
        ////}]);
        ////myApp.config(['$location', function ($location) {
        ////    $location.html5Mode(true);
        ////}]);


        //myApp.controller('myCtrl', function ($scope, $http, $location, $timeout, $interval, $window) {
        myApp.controller('myCtrl', function ($scope, $http, $location, $timeout, $interval, $window, kphexafy) {
            //$http.get("http://localhost:52807/api/Person/20778").then(function (response) {
            //    $scope.myWelcome = response.data;
            //});
            $http.get("http://localhost:52807/api/Person/20778").then(function mySuccess(response) {
                $scope.myWelcome = response.data;
            }, function myError(reponse) {
                $scope.myWelcome = response.error;
            });
            $scope.myUrl = $location.absUrl();

            $window.navigator.geolocation.getCurrentPosition(function (pos) {
                var lat = pos.coords.latitude;
                var long = pos.coords.longitude;

                $scope.myLat = pos.coords.latitude;
                $scope.myLong = pos.coords.longitude;
                var latlng = new google.maps.LatLng(lat, long);
                //alert(latlng);
                $scope.myLatLong = latlng;
            });

            if ($window.navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    $scope.$apply(function () {
                        $scope.myPosition = position;
                    });
                });
            }


            //** KP : AngJS URL Query Parameters for MenuLabelling **//
            ////Browse for URL : http://localhost/KPMVCWebAPIs/AngularJS/AngularJS/AngularServices/#/?username='kailash'&tocken='tocken'
            //var regex = new RegExp("'(.*?)'");
            //var url = $scope.myUrl.split(regex);
            //alert('URL : (0) ' + url[0] + ' (1) ' + url[1] + ' (2) ' + url[2] + ' (3) ' + url[3]);

            ////Browse for URL : http://localhost/KPMVCWebAPIs/AngularJS/AngularJS/AngularServices/#!/?wfsid=[wfsid]&brand=[brandid]
            var regex = new RegExp("\[(.*?)\]");
            //var regex = new RegExp("?<=\[)(.*?)(?=\])");
            var url = $scope.myUrl.split(regex);
            ///alert('URL : (1) ' + url[1] + ' (2) ' + url[2] + ' (3) ' + url[3]);
            //alert('URL : (0) ' + url[0] + ' (1) ' + url[1] + ' (2) ' + url[2] + ' (3) ' + url[3]);
            //** KP : AngJS URL Query Parameters for MenuLabelling **//

            $scope.myHeader = "Hello AngularJS World!";
            $timeout(function () { $scope.myHeader = "How are you today?" }, 3000);
            $scope.myCurrentTime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.myCurrentTime = new Date().toLocaleTimeString();
            }, 1000);
            $scope.myBtnClick_PageRefresh = (function () { $window.location.reload(); });
            //var intValElem = $('#txtIntVal').val();
            //$scope.hex = kphexafy.myFunction(intValElem);
            $scope.integerVal = 255;
            $scope.hex = kphexafy.myFunction(255);
        });
        myApp.service('kphexafy', function () {
            this.myFunction = function (x) {
                return x.toString(16);
            }
        });
    </script>


    @*<div ng-app="myHttpServApp" id="idAngJSHttpService" ng-controller="myHttpServCtrl">
            <br />
            <h3>AngularJS HTTP Service '$http'</h3>
            <p>HTTP Service Response : </p>
            <h4>{{myWelcome}}</h4>
            <br />
        </div>
        <script>
            var myHttpServApp = angular.module('myHttpServApp', []);
            myHttpServApp.controller('myHttpServCtrl', function ($scope, $http) {
                $http.get("http://localhost:52807/api/Person/20778").then(function (response) {
                    $scope.myWelcome = response.data;
                });
            });
        </script>*@


    @*<div ng-app="myLocServApp" id="idLocationService" ng-controller="myLocServCtrl">
            <br />
            <h3>AngularJS Location Service '$location'</h3>
            <p>The URL of this Page is : </p>
            <h4>{{myUrl}}</h4>
            <br />
        </div>
        <script>
            var myLocServApp = angular.module('myLocServApp', []);
            myLocServApp.controller('myLocServCtrl', function ($scope, $location) {
                $scope.myUrl = $location.absUrl();
            });
        </script>*@

</body >
</html >

@*  AngularJS Services
          What is an Angular Service?
              In AngularJS, a service is a function, or object, that is available for, and limited to, your AngularJS application.
              AngularJS has about 30 built-in services. One of them is the $location service.
              The '$location' service has methods which return information about the location of the current web page.
              The '$http' service is one of the most common used services in AngularJS applications.
              The '$http' service makes a request to the server, and lets your application handle the response.


          AngularJS Query Parameters : Get url parameter using angular js
            //url
            http://www.sample.com/#/?username='samplename'&tocken='tocken'
            //Note '#/'

            //In your controller
            $location.search();
            Result:
            {
               username : 'samplename',
               tocken:'tocken'
            }
       Check query parameter is existing

       if($location.search().yourQueryData.indexOf('?') > 0)
       {
            //query parameter existing
       }
       else{
            //no
       }

*@