<!DOCTYPE html>
@*<html ng-app="myApp">*@
<html >
<head>
    <title ng-bind="helloAngular"></title>
</head>
<body>
    @{
        ViewBag.Title = "AngularForms";
    }

    <h2>AngularForms</h2>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>

    <form id="idngJSForm" ng-app="myApp">

        <div ng-switch="myRadioVar" id="idAngJSRadioButtons">
            <br />
            <h3>AngularJS Form & 'ng-switch' directive on Radio button Options.</h3>
            Pick an Option :
            <input type="radio" ng-model="myRadioVar" value="dogs">Dogs
            <input type="radio" ng-model="myRadioVar" value="cars">Cars
            <input type="radio" ng-model="myRadioVar" value="cats">Cats
            <input type="radio" ng-model="myRadioVar" value="deer">Deer
            <br />
            <div ng-switch-when="dogs">
                <h4>Dogs</h4>
                <p>Welcome to the World of Dogs.</p>
            </div>
            <div ng-switch-when="cars">
                <h4>Cars</h4>
                <p>Welcome to the World of Cars.</p>
            </div>
            <div ng-switch-when="cats">
                <h4>Cats</h4>
                <p>Welcome to the World of Cats.</p>
            </div>
            <div ng-switch-when="deer">
                <h4>Deer</h4>
                <p>Welcome to the World of Deer.</p>
            </div>
        </div>

        <div ng-switch="myChkBoxVar" id="idAngJSChkBox">
            <br />
            <h3>AngularJS Form & 'ng-show' directive on Check Box.</h3>
            Check the Box to show Header :
            <input type="checkbox" ng-model="myChkBoxVar" />
            <br />
            <div ng-show="myChkBoxVar">
                <h4>Welcome to the Header : Only Visible if Check Box is checked!!!</h4>
            </div>
        </div>

        <div ng-switch="mySelectBoxVar" id="idAngJSSelectBox">
            <br />
            <h3>AngularJS Form & 'ng-switch' directive on a Select (or) Option Box.</h3>
            Select an Option to show corresponding Header :
            <select ng-model="mySelectBoxVar">
                <option value=""/>
                <option value="Boy">Boy</option>
                <option value="Girl">Girl</option>
                <option value="Man">Man</option>
                <option value="Woman">Woman</option>
            </select>
            <br />
            <div ng-switch-when="Boy">
                <h4>Boys</h4>
                <p>Welcome to the World of Boys.</p>
            </div>
            <div ng-switch-when="Girl">
                <h4>Girls</h4>
                <p>Welcome to the World of Girls.</p>
            </div>
            <div ng-switch-when="Man">
                <h4>Men</h4>
                <p>Welcome to the World of Men.</p>
            </div>
            <div ng-switch-when="Woman">
                <h4>Women</h4>
                <p>Welcome to the World of Women.</p>
            </div>
            <br />
        </div>

        <div id="idAngJSHTMLEvents" ng-controller="myCtrl">
            <br />
            <h3>AngularJS HTML Events</h3>
            <p>AngularJS event listeners can be added to HTML Elements by using one or more of following directives.</p>
            <ul>
                <li>    ng-blur         </li>
                <li>    ng-change       </li>
                <li>    ng-click        </li>
                <li>    ng-copy         </li>
                <li>    ng-cut          </li>
                <li>    ng-dblclick     </li>
                <li>    ng-focus        </li>
                <li>    ng-keydown      </li>
                <li>    ng-keypress     </li>
                <li>    ng-keyup        </li>
                <li>    ng-mousedown    </li>
                <li>    ng-mouseenter   </li>
                <li>    ng-mouseleave   </li>
                <li>    ng-mousemove    </li>
                <li>    ng-mouseover    </li>
                <li>    ng-mouseup      </li>
                <li>    ng-paste        </li>
            </ul>
            <p>
                The event directives allows us to run AngularJS functions at certain user events.
                An AngularJS event will not overwrite an HTML event, both events will be executed.
            </p>
            <br />
        </div>

        <div id="idAngJSMouseEvents" ng-controller="myCtrl">
            <br />
            <h3>AngularJS Mouse Events</h3>
            <p>AngularJS mouse event and respectibe listeners can be added to HTML Elements by using one or more of following directives.</p>
            <ul>
                <li>    ng-mouseenter   </li>
                <li>    ng-mouseover    </li>
                <li>    ng-mousemove    </li>
                <li>    ng-mouseleave   </li>
                <li>    ng-mousedown    </li>
                <li>    ng-mouseup      </li>
                <li>    ng-click        </li>
            </ul>
            <p>
                The event directives allows us to run AngularJS functions at certain user events.
                An AngularJS event will not overwrite an HTML event, both events will be executed.
            </p>
            <br />
        </div>

        <div id="idAngJSMouseMove" ng-controller="myCtrl">
            <br />
            <h3 ng-mousemove="mouseMoveCount = mouseMoveCount + 1">AngularJS 'ng-mousemove' : Move Mouse</h3>
            Move mouse over the above HTML Element to increase the mouse count!!!
            <h4>{{mouseMoveCount}}</h4>
            <br />
        </div>

        <div id="idAngJSClick" ng-controller="myCtrl">
            <br />
            <h3 ng-click="mouseClickCount = mouseClickCount + 1">AngularJS 'ng-click' : Mouse Click</h3>
            Click mouse over the above HTML Element to increase the click count!!!
            <h4>{{mouseClickCount}}</h4>
            <br />
        </div>

        <div id="idAngJSButtonClick" ng-controller="myCtrl">
            <br />
            <h3>AngularJS 'ng-click' : HTML Button </h3>
            <button ng-click="myBtnClick_Function()">Button 'ng-click'</button>
            <p>Click the above HTML Button to increase the click count!!!</p>
            <h4>{{buttonClickCount}}</h4>
            <br />
        </div>

        <div id="idAngJSToggleButton" ng-controller="myCtrl">
            <br />
            <h3>AngularJS 'ng-click' : HTML Toggle Button </h3>
            <button ng-click="myToggleBtnClick_Func()">Toggle Menu</button>
            <p>Click the above HTML Button to toggle between Menu Items!!!</p>
            <div ng-show="showMeMenu">
                <div>Pizza</div>
                <div>Pasta</div>
                <div>Pesce</div>
            </div>
            <br />
        </div>

        <div id="idAngJSEvent" ng-controller="myCtrl">
            <br />
            <h3 ng-mousemove="myMouseMove_EventHandler($event)">AngularJS '$event' Object into ng-JS Event Handler: Move Mouse</h3>
            <p>Coordinates : {{x + ', ' + y}} !!!</p>
            <br />
        </div>

        <div id="idngJSPageReloadOnBtnClick" ng-controller="myCtrl">
            <br />
            <h3>AngularJS 'ng-click' : Page Refresh (or) Window Reload on HTML Button Click </h3>
            <button ng-click="myBtnClick_PageRefresh()">Page Refresh : Button 'ng-click'</button>
            <p>Click the above HTML Button to reload the Page!!!</p>
            <br />
        </div>


        <div id="idAngClickOnTable" ng-controller="myCtrl">
            <br />
            <h4>AngularJS 'ng-click' directive on the table headers changes the sorting order of the array.</h4>
            <table border="1" width="50%">
                <tr>
                    <th ng-click="orderByMe('name')">SNo</th>
                    <th ng-click="orderByMe('name')">Name</th>
                    <th ng-click="orderByMe('lastName')">LastName</th>
                    <th ng-click="orderByMe('country')">Country</th>
                </tr>
                <tr ng-repeat="x in names | orderBy : myOrderBy">
                    <td>{{ $index + 1 }}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.lastName}}</td>
                    <td>{{x.country}}</td>
                </tr>
            </table>
            <br />
        </div>

    </form>
    
    <script>
        var myApp = angular.module('myApp', []);
        myApp.controller('myCtrl', function ($scope, $window) {
            $scope.mouseMoveCount = 0;
            $scope.mouseClickCount = 0;
            $scope.buttonClickCount = 0;
            $scope.myBtnClick_Function = function () { $scope.buttonClickCount++; }
            $scope.showMeMenu = false;
            $scope.myToggleBtnClick_Func = function () { $scope.showMeMenu = !$scope.showMeMenu; }
            $scope.myMouseMove_EventHandler = function (myMouseEvent) {
                $scope.x = myMouseEvent.clientX;
                $scope.y = myMouseEvent.clientY;
            }
            $scope.names = [
                { name: 'Revathi',   lastName: 'Yerramilli', country: 'USA'    },
                { name: 'Srinidhi',  lastName: 'Pasumarthy', country: 'USA'    },
                { name: 'Kailash',   lastName: 'Pasumarthy', country: 'USA'    },
                { name: 'Sarayu',    lastName: 'Nadikuduti', country: 'India'  },
                { name: 'Sailesh',   lastName: 'Nadikuduti', country: 'India'  },
                { name: 'Gayatri',   lastName: 'Pasumarthy', country: 'India'  },
                { name: 'Hemanth',   lastName: 'Tangeda',    country: 'London' },
                { name: 'Greeshma',  lastName: 'Tangeda',    country: 'London' },
                { name: 'Madhumati', lastName: 'Pasumarthy', country: 'London' },
            ];
            $scope.orderByMe = (function (x) {
                $scope.myOrderBy = x;
            });
            $scope.myBtnClick_PageRefresh = (function () { $window.location.reload(); });
        });
</script>

    <style>
        table, th, td {
            border: 2px solid green;
            border-collapse: collapse;
            padding: 5px;
        }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #FFF0F5;
        }
    </style>

</body>
</html>
