<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title ng-bind="helloWorld"></title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/spin.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
</head>
<body>
    @{
        ViewBag.Title = "AngularJS-HelloWorld";
    }
    <h2>AngularJS : Hello World</h2>
    <input type="text" ng-model="helloAngular" />
    <h3>Hello {{helloAngular}} : Welcome to Angular JS World...</h3>
    <br />
    First Name : <input type="text" data-ng-model="fname" />
    <br />
    Last Name :  <input type="text" data-ng-model="lname" />
    <br />
    Result : {{fname+' '+lname}}
    <br />
    <br />
    <div id="idAngJSClick" ng-controller="myCtrl">
        <br />
        <h3 ng-click="mouseClickCount = mouseClickCount + 1">AngularJS 'ng-click' : Mouse Click</h3>
        Click mouse over the above HTML Element to increase the click count!!!
        <h4>{{mouseClickCount}}</h4>
        <br />
    </div>
</body>
</html>
<script>
        var myApp = angular.module('myApp', []);
        myApp.controller('myCtrl', function ($scope) {
            $scope.mouseMoveCount = 0;
            $scope.mouseClickCount = 0;
            $scope.buttonClickCount = 0;
            $scope.myBtnClick_Function = function () { $scope.buttonClickCount++; }
            $scope.showMeMenu = false;
            $scope.myToggleBtnClick_Func = function () { $scope.showMeMenu = !$scope.showMeMenu; }
            $scope.myMouseMove_EventHandler = function (myMouseEvent) {
                $scope.x = myMouseEvent.clientX;
                $scope.y = myMouseEvent.clientY;
            }
        });
</script>
