<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKPWCFService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--KP : EndPoint : localhost:59030/KPWCFService.svc 
            <endpoint address="http://localhost:59030/KPWCFService.svc/KPWCFSOAPService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKPWCFService"
                contract="KPWCFServiceReference.IKPWCFService" name="BasicHttpBinding_IKPWCFService" />
               KP : EndPoint : localhost:59030/KPWCFService.svc -->

          <!--KP : EndPoint : http://localhost/KPWCFService/KPWCFService.svc -->
          <endpoint address="http://localhost/KPWCFService/KPWCFService.svc/KPWCFSOAPService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKPWCFService"
                contract="KPWCFServiceReference.IKPWCFService" name="BasicHttpBinding_IKPWCFService" />
          <!--KP : EndPoint : http://localhost/KPWCFService/KPWCFService.svc -->
        </client>
    </system.serviceModel>
</configuration>