<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	</system.web>
    <system.webServer>
	<handlers>
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		<remove name="OPTIONSVerbHandler" />
		<remove name="TRACEVerbHandler" />
		<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	</handlers>
	<httpProtocol>
		<customHeaders>
			<add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
			<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
		</customHeaders>
	</httpProtocol>
    </system.webServer>
	<connectionStrings>

		<!--KP : Following Connection String used by IIS Express-->
		<!--<add name="DefaultConnection" connectionString="Data Source=SARADA;Initial Catalog=AdventureWorks2022;Integrated Security=True;MultipleActiveResultSets=True" />-->
		<add name="DefaultConnection" connectionString="Data Source=SARADA;Initial Catalog=AdventureWorks2022;Integrated Security=True;MultipleActiveResultSets=True" />
		<!--KP : Following Connection String used by IIS -->
		<!--<add name="AdventureWorks2022ConnectionString" connectionString="Data Source=SARADA;Initial Catalog=AdventureWorks2022;Integrated Security=True;MultipleActiveResultSets=True" />-->
		<add name="AdventureWorks2022ConnectionString" connectionString="Data Source=SARADA;Initial Catalog=AdventureWorks2022;Integrated Security=True;MultipleActiveResultSets=True" />
		<!--<add name="AdventureWorksConnectionString" connectionString="Data Source=SITA;Initial Catalog=AdventureWorks2017;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="AdventureWorksConnectionString" connectionString="Data Source=SITA;Initial Catalog=AdventureWorks2017;Integrated Security=True;MultipleActiveResultSets=True" />
		<!--KP : Following Connection String used by IIS Express-->
		<add name="KPMVCWebAPIs.Database.AdventureWorksDBContext" connectionString="Data Source=SARASWATI;Initial Catalog=AdventureWorks2017;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="KPMVCWebAPIs.Database.AdventureWorksDBContext" connectionString="Data Source=localhost;Initial Catalog=AdventureWorks2017;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
</configuration>
